h1 {
  text-align: center;
}

h2 {
  text-align: center;
   color: red;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
}



img{
height: 200px;
width: 200px;
float: right;
}


em {
text-decoration :underline;
}

body {
	background-image: url("fondbleu.png");
}

table
 {
	border-collapse: collapse;
}

td
{
	border: 1px solid black;
}